@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  scroll-behavior: smooth ;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "roboto-sans";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bg-color-one: #2a2a2a;
  --bg-color-two: #202020;
  --text-color-one: #fff;
  --bg-color-sides: #111;
  --text-color-two: #aaa;
  --main-color: #ff3278;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color-one);
  color: var(--text-color-one);
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-sides);
  padding: 2% 6%;
  transition: all .45s ease;
}

.header img {
  width: 100px;
}

.header .bx {
  display: none;
}

.navmenu {
  flex: 1;
  text-align: right;
}

.navmenu ul li {
  display: inline-block;
  /* display: none; */
  padding: 8px 12px;
  margin: 0 25px;
  position: relative;
}

.navmenu a {
  color: var(--text-color-two);
  font-size: 17px;
  font-weight: 500;
  transition: all .45s ease;
}

.navmenu a:hover,
.navmenu a:active {
  color: var(--main-color);
}

section {
  padding: 160px 15% 120px;
}

span {
  color: var(--main-color);
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/pexels-goumbik-574071.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  margin: 100px 0 20px;
}

.first {
  display: inline-block;
  Margin-right: 15px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--text-color-one);
}

.second {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color-two);
}

.home-content h1 {
  font-size: var(--big-font);
  font-weight: 700;
  color: var(--text-color-one);
  line-height: 1.1;
  margin: 0 0 8px;
}


.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color-one);
  line-height: 1.1;
  margin: 0 0 35px;
}


.home-content p {
  font-size: var(--p-font);
  color: var(--text-color-two);
  line-height: 1.8;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;

  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--text-color-one);
  letter-spacing: 1px;
  transition: all .45s ease;
}

.btn:hover {
  transform: scale(0.9);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-image img {
  max-width: 530px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-two);
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  font-size: var(--p-font);
  font-family: var(--p-font);
  color: var(--text-color-two);
  line-height: 1.8;
  margin-bottom: 4rem;
}

.services {
  background-color: var(--bg-color-two);
}

.text-title {
  text-align: center;
}

.text-title h2 {
  font-size: var(--h2-font);
}

.services-content {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2.5rem;
  margin-top: 5rem; */
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 5rem;
 
}

.services-content .box {
  background-color: var(--bg-color-one);
  padding: 35px 30px;
  border-radius: 8px;
  transition: all .45s ease;
}

.services-content .box:hover {
  transform: translateY(-8px);
}

.services-content .icons {
  font-size: 32px;
  margin-bottom: 20px;
}

.services-content h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-one);
  margin-bottom: 15px;
}

.services-content p {
  color: var(--text-color-two);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 55px;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 5rem;
  overflow-x: clip;
}

.portfolio-content .row {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-content .row img {
  width: 100%;
  display: block;
  border-radius: 8px;
  border: 16px solid var(--bg-color-two);
  transition: transform 0.5s;
}

.portfolio-content .row .cover {
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #ff3278);
  border-radius: 8px;
  padding: 0 40px;
  transition: height 0.5s;
}

.portfolio-content .row .cover h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
}

.portfolio-content .row .cover p {
  text-align: center;
  color: var(--text-color-two);
  line-height: 1.8;
}

.portfolio-content .row .cover i {
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--text-color-one);
  color: var(--bg-color-one);
}

.portfolio-content .row:hover img {
  transform: scale(1.1);
}

.portfolio-content .row:hover .cover {
  height: 100%;
}

.contact {
  background-color: var(--bg-color-two);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.contact-text h4 {
  color: var(--bg-color-one);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text p {
  color: var(--text-color-two);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.contact-text .list {
  margin-bottom: 2.8px;
}

.contact-text .list li {
  margin-bottom: 12px;
}

.contact-text .list li a {
  display: block;
  color: var(--text-color-two);
  font-size: 14px;
  transition: all .45s ease;
}

.contact-text .list li a:hover {
  color: var(--text-color-one);
  transform: translateY(5px);
}

.contact-text .icons i {
  width: 45px;
  height: 45px;
  color: var(--text-color-one);
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: all .45s ease;
}

.contact-text .icons i:hover {
  color: var(--main-color);
}

.contact-form form {
  position: relative;
}

.contact-form input,
.contact-form form textarea {
  width: 100%;
  padding: 14px;
  background-color: var(--bg-color-one);
  color: var(--text-color-one);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form form textarea {
  resize: none;
  height: 240px;
}

.contact-form form .submit {
  width: 150px;
  display: inline-block;
  font-size: 16px;
  background-color: var(--main-color);
  color: var(--text-color-one);
  transition: all .45s ease;
}

.contact-form form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--bg-color-sides);
}

.footer .attribution p {
  color: var(--text-color-two);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.footer .attribution i {
  color: var(--main-color);
  font-size: 20px;
  margin: 0 3px;
}

.footer .move-up i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--text-color-one);
  background-color: var(--main-color);
}

@media (max-width: 1400px) {
  .header {
    padding: 12px 5%;
    transition: .1s;
  }

  section {
    padding: 110px 12% 60px;
  }

  .footer {
    padding: 12px 7%;
  }
}

@media (max-width: 1100px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
  }

  .home {
    height: 87vh;
  }

  .home-text h3 {
    font-size: 2.3rem;
  }
}

@media (max-width: 920px) {

  .about,
  .contact {
    grid-template-columns: 1fr;
  }

  .about-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}


@media (max-width: 768px) {
  .services-content {
    flex-direction: column;
}

}


@media (max-width: 700px) {
  .header .bx {
    display: block;
    color: var(--text-color-one);
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
  }

  .navmenu ul li{
    display: none;
  }
}